[Desktop Entry]
Name=Sysbro
Name[zh_CN]=系统助手
Exec=sysbro
Comment=A deepin assistant
Icon=sysbro
Type=Application
Terminal=false
Encoding=UTF-8
Categories=Utility;
