QMainWindow {
    background: white;
}

QLabel {
    color: #3A3A3A;
}

#SideButton  {
    border: none;
    outline: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#SideButton:hover {
    background-color: #C7E3FF;
}

#SideButton:checked {
    background-color: #2995FF;
    color: #FFFFFF;
}

